<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="https://i.oneme.ru/i?r=BTE2sh_eZW7g8kugOdIm2NotKjbiC-IdyqZ-CbRxsyU3bPZZQDwn-kDDSHNTYsLvTcc">
    <u class="Za"><h1 class="Z"><span style="color: #16afa0;">Diet</span><span style="color: #365451;">Plan</span></h1></u>
</head>
<body>
    <header>
        <div>

        </div>
    </header>
</body>
</html>