<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .login, .password {
            border: 2px solid rgb(83, 129, 138);
            border-radius: 5px;
        }

        .submit {
            
        }
    </style>
    <title>Login</title>
</head>
<body>
    <form method="POST">
        login: <input type="text" name="login" class="login"><br>
        password: <input type="text" name="password" class="password"><br>
        <button type="submit" class="submit">submit</button>
    </form>
</body>
</html>